@use './components/mixin' as *;
@use './components/nav';
@use './components/landing';
@use './components/artical';
@use './components/gallary';
@use './components/features';
@use './components/test';
@use './components/team';
@use './components/services';
@use './components/skills';
@use './components/work';
@use './components/events';
@use './components/videos';
@use './components/pricing';
@use './components/state';
@use './components/discount';
@use './components/footer';


html{
    scroll-behavior: smooth;
}
.sss::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}

@include breakpoints(large) {
    .container {
        width: 1170px;
        margin: 0 auto;
    }

    @for $i from 1 through $grid {
        .col-lg-#{$i} {
            width: percentage($i / $grid);
        }
    }
}

.header .logo {
    width: 100%;
    height: 50px;
}

@include breakpoints(medium) {
    .container {
        width: 970px;
        margin: 0 auto;
    }

    @for $i from 1 through $grid {
        .col-md-#{$i} {
            width: percentage($i / $grid);
        }
    }
}

@include breakpoints(small) {
    .container {
        width: 750px;
        margin: 0 auto;
    }

    .d-sm-none {
        display: none;
    }

    .landing {
        .landing-con {
            .text {
                h1 {
                    text-align: center;
                }

                p {
                    text-align: center;
                    max-width: 100%;
                }
            }
        }
    }

    .events {
        .subscribe {
            form {
                display: flex;
                flex-direction: column;
                border-radius: 0;

                :first-child {
                    border-radius: 0;
                }

                :last-child {
                    border-radius: 0;
                }
            }
        }
    }

    .how-it-work {
        .container {
            .boxes {
                .box {
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                }
            }
        }
    }

    @for $i from 1 through $grid {
        .col-sm-#{$i} {
            width: percentage($i / $grid);
        }
    }
}

@include breakpoints(mobile) {
    nav {
        .container {
            .con {
                > {
                    .logo {
                        width: 100%;
                        height: 50px;
                    }

                    .links {
                        width: 100%;
                        justify-content: center;

                        li a {
                            padding: 10px;
                            font-size: 14px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }

    .landing {
        .landing-con {
            .text {

                h1 {
                    text-align: center;
                }

                p {
                    text-align: center;
                    max-width: 100%;
                }
            }
        }
    }

    .how-it-work {
        .container {
            .boxes {
                .box {
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                }
            }
        }
    }

    .d-none {
        display: none;
    }

    .events {
        .subscribe {
            width: 100%;
            padding: 0 8px;

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                border-radius: 0;

                :first-child {
                    border-radius: 0;
                }

                :last-child {
                    border-radius: 0;
                }
            }
        }
    }

    @for $i from 1 through $grid {
        .col-#{$i} {
            width: percentage($i / $grid);
        }
    }



}